<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
            <li>
                <a href="/Category/Index" aria-expanded="false">
                    <i class="icon-badge menu-icon"></i><span class="nav-text">Kategori İşlemleri</span>
                </a>
            </li
            <li>
                <a href="/City/Index" aria-expanded="false">
                    <i class="icon-badge menu-icon"></i><span class="nav-text">Şehir İşlemleri</span>
                </a>
            </li>
            <li>
                <a href="/Event/Index" aria-expanded="false">
                    <i class="icon-badge menu-icon"></i><span class="nav-text">Organizasyon İşlemleri</span>
                </a>
            </li>
            <li>
                <a href="/Ticket/Index" aria-expanded="false">
                    <i class="icon-badge menu-icon"></i><span class="nav-text">Bilet İşlemleri</span>
                </a>
            </li>
            <li>
                <a href="/User/Index" aria-expanded="false">
                    <i class="icon-badge menu-icon"></i><span class="nav-text">Kullanıcı İşlemleri</span>
                </a>
            </li>
            <li>
                <a href="/UserRole/Index" aria-expanded="false">
                    <i class="icon-badge menu-icon"></i><span class="nav-text">Kullanıcı Yetki İşlemleri</span>
                </a>
            </li>
            <li>
                <a href="/Login/Logout" aria-expanded="false">
                    <i class="icon-badge menu-icon"></i><span class="nav-text">Çıkış Yap</span>
                </a>
            </li>
        </ul>
    </div>
</div>